*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  background-image: linear-gradient(to right, #e5e5e5ff, #ffffffff); }

.heading {
  text-align: center;
  background-image: linear-gradient(to right, #14213dff, #fca311ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: .1rem;
  transition: all .2s;
  text-shadow: 0.5rem 1rem 2rem rgba(252, 163, 17, 0.2);
  margin-bottom: 2rem; }
  .heading--primary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-top: 2rem; }
  .heading--secondary {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    text-align: center; }

.form__group {
  margin-top: 1rem; }
  .form__group--btn {
    text-align: center; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: .5rem .5rem;
  border-radius: 2px;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }

.form:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  border-bottom: 3px solid #fca311ff; }

.form:focus:invalid {
  border-bottom: 3px solid #14213dff; }

.form::-webkit-input-placeholder {
  color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--orange {
  background-color: #fca311ff;
  color: #14213dff; }
  .btn--orange--after {
    background-color: #fca311ff; }
  .btn--orange-member {
    background-color: #fca311ff;
    color: #14213dff; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem) /3);
    background-color: cadetblue; }

.section__primary {
  display: flex;
  margin: 0;
  height: 25vh;
  justify-content: space-between; }
  .section__primary--img {
    height: 20vh;
    transition: all .5s;
    border-radius: 600px;
    align-self: center;
    order: -1; }
  .section__primary_member-group {
    align-self: flex-end;
    flex: 1;
    margin-left: 15%; }
    .section__primary_member-group--current {
      order: 5;
      flex: 1;
      text-align: center;
      align-self: center; }
  .section__primary--user-text {
    width: 18%;
    padding-left: 2rem;
    line-height: .25;
    margin-bottom: 0;
    align-self: center; }
  .section__primary--rewards {
    align-self: center; }

.section .points {
  font-size: 4.5rem; }

.section .current--text {
  list-style: none; }
  .section .current--text:last-child {
    margin-bottom: 2rem; }

.section__tertiary {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  line-height: 3.5rem; }
  .section__tertiary--textA {
    flex: 1;
    margin-left: 2rem; }
  .section__tertiary--textB {
    justify-self: flex-start;
    flex: 1; }

  /*----------------------Calendar--------------*/
  .fc-scroller{
      height:30rem;
  }
  
  /* Changes the calendar size*/
  .fc-widget-content {
      margin-bottom: 4rem;
      height: 7.5rem; }
    
    .fc-scroller {
      height: 700px !important; }
    
    /* Changes the calendar content*/
      .fc-view-container {
          width: 100% !important;
    
         /*
          box-sizing: border-box;
          border-spacing: 0;
          border-collapse: collapse;*/
          font-size: 1.5rem;
          color:#14213dff;
          background:#7596de;
      }
     /* One of these three changes the size of the date box */
     .fc-row .fc-week .fc-widget-content .fc-rigid{
        height: 20rem;
     }
    
     .fc-bg{
        height: 10rem;
     }
    
     .fc-content-skeleton{
        height: 10rem;
     }
    
     /* Changes the calendar events*/
    
    .fc-content{
        background-color: #fca311ff;
        color: #14213dff;
        height: 2rem;
    }
    
     /* Changes the calendar date*/
    .fc-day-number{
        color:#14213dff;
    
    }
     /* Changes the color of the more events*/
    .fc-more {
        color:#14213dff;
    }
  
    /*------------------About Us-------------------*/
    .about-h2{
      font-size: 40px;
    }
    .aboutus{
      display: flex;
      
      /* justify-content: space-evenly; */
      margin-right: 250px;
      font-size: 35px;
      margin-bottom: 50px;
      justify-content: space-between;
      text-align: center;
    }
    .about-img{
      height: 30rem;
      width: 30rem;
      border-radius: 50%;
    }

    .about-info {
      /* margin-left: 100px;*/
      margin: auto;
      margin-top: 50px; 
      font-size: 18px;
      padding: 15px;
    }

