$color-black:#000000ff;
$color-dark-blue:#14213dff;
$color-orange:#fca311ff;
$color-platinum:#e5e5e5ff;
$color-white:#ffffffff;
$color-grey-dark-2: #999;
$color-default-shadow:rgba($color-black,.15);
$color-light-blue:#8fa8de;
$color-blue:rgb(71, 121, 228);
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;