<!doctype html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Event Master</title>
</head>
<body>

    <!-- <header th:replace="./fragments/header :: header"></header> -->

   
    <header class="header" th:replace="./fragments/header :: header"></header>
    <div class="section">
        <div class="row">
            <div class="col-1-of-2">
                <form action="/login" method="POST" class="form">
                    <div class="form__group">
                        <input  id="username-1" class="form__input"
                                type="text"placeholder="Username" required name="username">
                        <label for="username-1" class="form__label">Username</label>
                    </div>
                    <div class="form__group">
                        <input  id="password-1" class="form__input" required type="password"
                                placeholder="Password" name="password">
                        <label for="password-1" class="form__label">Password</label>
                    </div>
                    <div class="form__group form__group--btn">
                        <button class="btn btn--orange" type="submit">Login</button>
                    </div>
                </form>
            </div>
            <div class="col-1-of-2">
                <form for="familyUsername" action="/newFamily" class="form form__create-account"
                      method="POST">
                    <div class="form__group">
                        <input  id="familyUsername" class="form__input"
                                type="text" placeholder="Choose a Username" required
                                name="familyUsername">
                        <label for="familyUsername" class="form__label">Choose a Username</label>
                    </div>
                    <div class="form__group">
                        <input  id="familyPassword" class="form__input" type="password"
                                placeholder="Enter a Password" name="familyPassword">
                        <label for="familyPassword" class="form__label">Enter a Password</label>
                    </div>
                    <div class="form__group ">
                        <input id="familyName" class="form__input"
                               placeholder="Enter your family name"
                               type="text"name="familyName">
                        <label for="familyName" class="form__label" >Family Name</label>
                    </div>
                    <div class="form__group form__group--btn">
                        <button type="submit" class="btn btn--orange">Create Account</button>
                    </div>
                </form>
            </div>
        </div>
<!--        <form action="/newFamily" method="POST">-->

<!--            <label for="familyUsername">Username</label>-->
<!--            <input id="_familyUsername" type="text" name="familyUsername">-->

<!--            <label for="familyPassword">Password</label>-->
<!--            <input id="_familyPassword" type="password" name="familyPassword">-->

<!--            <label for="familyName">Family Name</label>-->
<!--            <input id="_familyName" type="text" name="familyName">-->

<!--            <input type="submit" value="Create New Family">-->
<!--        </form>-->
    </div>

<script>
    
    	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			defaultDate: '2016-12-12',
			navLinks: true, // can click day/week names to navigate views
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: 'All Day Event',
					start: '2016-12-01'
				},
				{
					title: 'Long Event',
					start: '2016-12-07',
					end: '2016-12-10'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2016-12-09T16:00:00'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2016-12-16T16:00:00'
				},
				{
					title: 'Conference',
					start: '2016-12-11',
					end: '2016-12-13'
				},
				{
					title: 'Meeting',
					start: '2016-12-12T10:30:00',
					end: '2016-12-12T12:30:00'
				},
				{
					title: 'Lunch',
					start: '2016-12-12T12:00:00'
				},
				{
					title: 'Meeting',
					start: '2016-12-12T14:30:00'
				},
				{
					title: 'Happy Hour',
					start: '2016-12-12T17:30:00'
				},
				{
					title: 'Dinner',
					start: '2016-12-12T20:00:00'
				},
				{
					title: 'Birthday Party',
					start: '2016-12-13T07:00:00'
				},
				{
					title: 'Click for Google',
					url: 'https://google.com/',
					start: '2016-12-28'
				}
			]
		});
		
	});
</script>


    <footer th:replace="./fragments/footer :: footer"></footer>

</body>
</html>