<!doctype html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header th:replace="./fragments/header :: header"></header>

    <div class="section">
        <div class="section__container">
            <form action="/calendar" method="GET" class="form">
                <div class="form__heading">
                    <h1 class="heading-primary">Welcome to the Event Master! Please sign in or create a account!</h1>
                </div>
                <div class="form__group">
                    <input  id="username" class="form__input" type="text" name="username">
                    <label for="username" class="form__label">Username</label>
                </div>
                <div class="form__group">
                    <input  id="password" class="form__input" type="text" name="password">
                    <label for="password" class="form__label">Password</label>
                </div>
                <div class="form__group">
                    <button class="btn" type="submit">Login</button>
                </div>
            </form>
            <form for="create-account" action="/signup" class="form">
                <button type="submit" class="btn">Create Account</button>
            </form>
        </div>
    </div>

    <footer th:replace="./fragments/footer :: footer"></footer>
</body>
</html>