.section{
    
    &__primary{
        display: flex;
        // flex-direction: row;
        margin: 0;
        height: 25vh;
      
       justify-content: space-between;
        &--img {
           height: 20vh;
            // transform: translateX(-4rem) scale(.5);
            transition: all .5s;
            border-radius: 600px;
            align-self: center;
            order: -1;
        
        }

        &_member-group{
            align-self: flex-end;
            flex: 1;
            margin-left: 15%;
           
          
            &--current{
                order: 5;
                flex: 1;
                text-align: center;
                align-self: center;
                
            }

        }
        &--user-text{
            width: 18%;
            padding-left: 2rem;
            line-height: .25;
            margin-bottom: 0;
            align-self: center;
        }
        &--rewards{
            align-self: center;
        //    margin-left: 4%;
          
        //    justify-self: center;
           
        }

        &--newmember{
            // align-self: flex-end;
            // flex: 1;
            
        }
        
    }
    .points{
        font-size: 4.5rem;
    }
    .current--text{
        list-style: none;
        &:last-child{
            margin-bottom: 2rem;
        }
    }

    &__secondary{
     
    }

    &__tertiary{

      display:flex;
      justify-content: space-between;
      font-size:2.5rem;
      line-height: 3.5rem;
      
      &--textA{
        flex:1;
        margin-left: 2rem;
      }
      &--textB{
        justify-self: flex-start;
        flex:1;
      }
    }
}
.fc-widget-content{
    margin-bottom: 5rem;
    height: 20rem;
    
}
.fc-icon-left-single-arrow{

}
.fc-icon-right-single-arrow{

}

//----------------------Calendar--------------
.fc-scroller{
    height:30rem;
}

/* Changes the calendar size*/
.fc-widget-content {
    margin-bottom: 4rem;
    height: 7.5rem; }
  
  .fc-scroller {
    height: 700px !important; }
  
  /* Changes the calendar content*/
    .fc-view-container {
        width: 100% !important;
  
       /*
        box-sizing: border-box;
        border-spacing: 0;
        border-collapse: collapse;*/
        font-size: 1.5rem;
        color:#14213dff;
        background:#7596de;
    }
   /* One of these three changes the size of the date box */
   .fc-row .fc-week .fc-widget-content .fc-rigid{
      height: 20rem;
   }
  
   .fc-bg{
      height: 10rem;
   }
  
   .fc-content-skeleton{
      height: 10rem;
   }
  
   /* Changes the calendar events*/
  
  .fc-content{
      background-color: #fca311ff;
      color: #14213dff;
      height: 2rem;
  }
  
   /* Changes the calendar date*/
  .fc-day-number{
      color:#14213dff;
  
  }
   /* Changes the color of the more events*/
  .fc-more {
      color:#14213dff;
  }

  //------------------About Us-------------------
  .about-img{
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
  }