.section{
    
    &__primary{
        margin: 0;
        height: 25vh;
      
       justify-content: space-between;
        &--img {
            
            height: 20rem;
            transition: all .5s;
            border-radius: 600px;
            box-shadow: 0 .1rem 1rem rgba($color-black,.8);   
                                      
        }

        &_member-group{
            flex: 1;
            margin-left: 15%;
           
          
            &--current{
                order: 5;
                flex: 1;
                text-align: center;
                
            }

        }
        &--user-text{
            display:block;
            width: 100%;
            // padding-left: 2rem;
            // line-height: .25;
            margin-bottom: 0;
            // align-self: center;
        }
        &--rewards{
            // align-self: center;
        //    margin-left: 4%;
          
        //    justify-self: center;
           
        }

        &--newmember{
            // align-self: flex-end;
            // flex: 1;
            
        }
        
    }
  
    .current--text{
        list-style: none;
        &:last-child{
            margin-bottom: 2rem;
        }
    }

    &__secondary{
     
    }

    &__tertiary{

    //   display:flex;
      justify-content: space-between;
      font-size:2.5rem;
      line-height: 3.5rem;
      
      &--textA{
        flex:1;
        margin-left: 2rem;
      }
      &--textB{
        // justify-self: flex-start;
        flex:1;
      }
    }
}
.fc-widget-content{
    margin-bottom: 5rem;
    height:30rem;
}
.fc-icon-left-single-arrow{

}
.fc-icon-right-single-arrow{

}
.fc-scroller{
    height:800px !important ;
}

.fragment-footer {
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color:  #fca311ff;
    text-align: center;
    padding: 20px ;
    font-size: 20px;
    border-radius: 100px
}
