.header{
    color: $color-red;
}

.test{
    color:aqua;
}

body {
    background-color: #14213dff;
    text-align: end;
    padding: 5px;
}

header{
    background-color:  #fca311;
    font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
}

footer{
    background-color: #a2e8f5f1;
}

form {
    border:  #14213dff;
    border-radius: 15px;
    border-width: 25px;
    background-color: #9eedcbc4;
}