.heading{
    text-align: center;
    letter-spacing: .1rem;
    transition: all .2s;
    text-shadow: .5rem 1rem 2rem rgba($color-orange,.2);
    margin-bottom: 2rem;
    &--primary{
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        display:block;
        margin-top: 2rem;
        background-image: linear-gradient(to right,$color-dark-blue, $color-orange);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;

        &-member{
            text-align: center;
        }

        &-points{
            font-size: 4.5rem;
            margin-bottom: 2rem;
            margin-top: 2rem;
            display:block;
            color:$color-orange;
            text-shadow: rgba($color-black,.5);
        }
        
    }

    &--secondary{
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        display:block;
        text-align: center;

        &-title{
        }
       
    }
}