<!doctype html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.css">
    <script href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header th:replace="./fragments/header :: header"></header>

    <h1>EVENT MASTER</h1>
    <p>Thank you for using our app! Below is some information about us. To find out more about us please go to our LinkedIn and Github pages.</p>
    <h2 class="about-h2">About Us</h2>
   <div class="aboutus">
       <div>
            <h2>Amelia Waggoner
                <br /> <a href="">LinkedIn</a>
                <br /> <a href="">Github</a>
            </h2>
            <img src="../public/img/starfamily.jpeg"  class="about-img" alt="picture">
        </div>
        <div class="about-info">
            <p>This is info about me and I am a coder</p>
        </div>
    </div>

    <div class="aboutus">
        <div>
             <h2>Leaundrae McKinney
                <br /> <a href="">LinkedIn</a>
                <br /> <a href="">Github</a>
             </h2>
             <img src="../public/img/starfamily.jpeg"  class="about-img" alt="picture">
         </div>
         <div class="about-info">
             <p>This is info about me</p>
         </div>
     </div>

     <div class="aboutus">
       <div>
            <h2>Barrett Nance
                <br /> <a href="">LinkedIn</a>
                <br /> <a href="">Github</a>
            </h2>
            <img src="../public/img/starfamily.jpeg"  class="about-img" alt="picture">
        </div>
        <div class="about-info">
            <p>This is info about me</p>
        </div>
    </div>

     <div class="aboutus">
       <div>
            <h2>Matthew Simms
                <br /> <a href="">LinkedIn</a>
                <br /> <a href="">Github</a>
            </h2>
            <img src="../public/img/starfamily.jpeg"  class="about-img" alt="picture">
        </div>
        <div class="about-info">
            <p>This is info about me</p>
        </div>
    </div>

    <script class="about-img" src="../public/img/starfamily.jpeg"></script>

    <script src="../js/profile.js"></script>

    <footer th:replace="./fragments/footer :: footer"></footer>

</body>
</html>