<!doctype html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header th:replace="./fragments/header :: header"></header>

    <h1>EVENT MASTER</h1>
    <p>Thank you for using our app! Below is some information about us. To find out more please go to our LinkedIn and Github pages.</p>
    <h2>About Us</h2>

    <h2>Amelia Waggoner</h2>
    <img th:src="https://placehold.it/200x70/111" th:alt="">
    <ul>
        <li><a href="">LinkedIn</a></li>
        <li><a href="">Github</a></li>
    </ul>
    <p></p>

    <h2>Leaundrae Mckinney</h2>
    <img th:src="https://placehold.it/200x70/111" th:alt="">
    <ul>
        <li><a href="">LinkedIn</a></li>
        <li><a href="">Github</a></li>
    </ul>
    <p></p>

    <h2>Barrett Nance</h2>
    <img th:src="https://placehold.it/200x70/111" th:alt="">
    <ul>
        <li><a href="">LinkedIn</a></li>
        <li><a href="">Github</a></li>
    </ul>
    <p></p>

    <h2>Matthew Simms</h2>
    <img th:src="https://placehold.it/200x70/111" th:alt="">
    <ul>
        <li><a href="">LinkedIn</a></li>
        <li><a href="">Github</a></li>
    </ul>
    <p></p>


    <footer th:replace="./fragments/footer :: footer"></footer>

</body>
</html>