<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="../app.js"></script>
    <title>Title</title>
</head>
<body>
    <header th:replace="./fragments/header :: header"></header>
    
    <section class="section">
        <div class="section__primary">            
            <a href="" class="section__primary btn">Completed Tasks</a>
            <a href="" class="section__primary btn">Current Tasks</a>
            <a href="" class="section__primary btn">Upcoming Tasks</a>
        </div>
        <div class="section__secondary">
            
        </div>
    </section>
    <section>
        <div class="ui calendar" id="calendar"></div>
    </section>

    <footer th:replace="./fragments/footer :: footer"></footer>
</body>
</html>