<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:replace="./fragments/header :: header"></header>
    <h1>Login</h1>
    <form action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username">

    <label for="password">Password</label>
    <input type="text" name="password">

    <input type="submit" value="login">
    </form>

    <footer th:replace="./fragments/footer :: footer"></footer>
</body>
</html>